@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   

    /*background-image: url(../media/sky-3154857_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;*/

   
}

header{
   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px ;
    display: flex;
    justify-content: space-between;
   align-items: center;
 

}
header .logo{
    font-family: 'Dancing Script', cursive;
    position: relative;
    font-size: 4em;
    color: white;

    font-weight: 700;
    text-decoration: none;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    transition: 0.5s;
   
   
}



.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}



.container .box{
   position: relative;
    width: 500px;
    height: 650px;
    color: #000;

  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 30px;
    transition: 0.5s;
  opacity: 0.7;
    
}

@media (max-width: 2235px){
    .container {
        margin-top: 100px;
       
    }
}


.container .box:hover{
    transform: translateY(-40px);
    opacity: 1;
}
.container .box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(300deg,#00d9ff,#ff0058);
}
.container .box::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(300deg,#00d9ff,#ff00d4);
    filter: blur(20px);
}
.container .box:nth-child(2):before,
.container .box:nth-child(2):after{
    background: linear-gradient(315deg,#1100ff,#0ec8e0);
}

.container .box:nth-child(3):before,
.container .box:nth-child(3):after{
    background: linear-gradient(45deg,#ff00dd,#0586ff);
}
.container .box:nth-child(4):before,
.container .box:nth-child(4):after{
    background: linear-gradient(45deg,#6aeeff,#0509ff);
}
.container .box:nth-child(6):before,
.container .box:nth-child(6):after{
    background: linear-gradient(45deg,#b3ff00,#059bff);
}
.container .box span{
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(255, 255, 255, 0.9);
    z-index: 2;
}
.container .box span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
  
    filter: blur(10px);
    pointer-events: none;
}



.container .box .content{
    position: relative;
    z-index: 18;
    padding: 20px 40px;
}

.container .box .content img{
    position: relative;
    width: 60%;
    height: 60%;
    border-radius: 60%;
  
    box-shadow: -10px -10px 5px black;
   margin-left: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    
}
.container .box .content img:hover{
    transition: transform 1.5s ease-in-out;
    transform: scale(1.1);
    
}

.container .box .content h2{
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 2em;
    margin: 15px 0;

}

.container .box .content{
    line-height: 1.5em;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    font-weight: 300;
    margin: 10px 0;
}

.container .box .content .container1{
    position: relative;
    opacity: 1;
}

.container .box .content .container1 .skills{
    position: relative;
    display: flex;
    margin: 10px 0;
    padding: 10px 10px ;
    background: linear-gradient(#bfe1f5 0%, #bfe1f5 5%, #bfe1f5 10%);
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid white;
    transition: 0.5s;
  
}
.container .box .content .container1:hover .skills{
    opacity: 0.1;
}
.container .box .content .container1 .skills:hover{
    opacity: 1;
    transform: scale(1.1);
}

.container .box .content .container1 .skills::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.7);
  
}

.container .box .content .container1 .skills .name{

    position: relative;
    text-align: right;
   margin-top: 3px;
    text-transform: uppercase;
   
}

.container .box .content .container1 .skills .value{
    position: relative;
    text-align: left;
    margin-top: 3px;
  
    
}
.container .box .content .container1 .skills .percent{
    position: relative;
    width: 100%;
    height: 20px; 
    border-radius: 10px;
    background:#aadbf8;
 
    margin: 5px 10px 0 10px;
    box-shadow: inset 0 0 5px white;
}

.container .box .content .container1 .skills .percent .progress{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    background: white;
    box-shadow: inset 0 0 2px white;
    animation: skilli 2s ease-in-out forwards;
}

@keyframes skilli {
    from{
        width: 0;
    }
}

.container .box .content .container1 .skills:nth-child(1) .percent .progress{
    background: linear-gradient(45deg, #36e8ff, #f54dc2);
    }

.container .box .content .container1 .skills:nth-child(2) .percent .progress{
background: linear-gradient(45deg, #1fe6ff, #673AB7);
}
.container .box .content .container1 .skills:nth-child(3) .percent .progress{
    background: linear-gradient(45deg, #ff8df0, #673AB7);
    }

.container .box .content a{
    display: inline-block;
    font-size: 1.1em;
    color: black;
}


.back{
    position: relative;
    width: 200px;
    height: 200px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    margin: 20px;
}
.circle{
    position: relative;
    width: 100px;
    height: 100px;
    background: linear-gradient(#66d9ff,#f8478e, #9d48ff);
    border-radius: 50%;
    animation: animate 0.8s linear infinite;
}

@keyframes animate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.circle:after{
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    border: rgb(255, 255, 255) 1px solid;

}

.circle div{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#66d9ff,#f8478e, #9d48ff);
    border-radius: 50%;
}

.circle div:nth-child(1){
    filter: blur(5px);
}
.circle div:nth-child(2){
    filter: blur(10px);
}
.circle div:nth-child(3){
    filter: blur(20px);
}
.circle div:nth-child(4){
    filter: blur(5px);
}