@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


*{
    background: #2E2C2F;
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
    color: white;
}


.body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1100px;
  flex-wrap: wrap;

}