@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');



*{
   
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
    color: black;
   
}


.body{

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.5s ease;

}
header{
   
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 100px;
  
 
  

}

header .logo{
  font-family: 'Dancing Script', cursive;
  position: relative;
  font-size: 4em;
  color: white;

  font-weight: 700;
  text-decoration: none;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
  transition: 0.5s;
 
 
}
.container{

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  top: 100px;
}



.container .card{
  position: relative;
  max-width: 400px;
  height: 300px;
  
  margin: 100px 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  transition: 0.7s;
 
 
}

.container .card:hover{
  height: 450px;
}
.container .card .imgbx{
  position: relative;
  max-width: 450px;
  height: 300px;
  top: -80px;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}



.container .card .imgbx img{
  max-width:300px;
  max-height: 300px;
 
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  z-index: 2;
  
}

.container .card .imgbx img:hover{
  transform: translate(1rem, -1rem);
  transition: 0.9s;
  border-radius: 10px 0 20px 0;
  border-left: 10px  solid rgb(189, 0, 116);
  border-bottom: 20px solid rgb(189, 0, 116);
  

}

 


.container .card .content{
  position: relative;
  margin-top: -140px;
  padding: 20px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
 
}
.container .card:hover .content{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

.container .card .content h2{
  font-size: 20px;
  text-transform: uppercase;
 
}

.container .card .content h2:hover{
 text-transform: lowercase;
 color: white;
 background: rgb(32, 32, 32);
}
.container .card .content p{
  margin: 10px 0;

}

.container .card .imgtxt{

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 25px;
  opacity: 1;
  transition: 0.9 ease-in-out;
  
}

.container .card .imgtxt p{
  color: white;
background:rgb(189, 0, 116);
padding: 10px 20px;
margin: 2px;
}

.container .card:hover .imgtxt{
  opacity: 0;
  transition: 0.9s ease-out;
}